<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EaAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <EaAddIn.Properties.Settings>
            <setting name="EaAddIn_Confluence_ConfluenceSoapServiceService"
                serializeAs="String">
                <value>https://confluence.automic.com/plugins/servlet/soap-axis1/confluenceservice-v2</value>
            </setting>
        </EaAddIn.Properties.Settings>
    </applicationSettings>
</configuration>